{{>head}}
{{>header}}

    
    <form action="" >
     <input type="text" name="address" id="getPlace" class="getPlace" placeholder="Enter city, state, place name">
    </form>
     <p class="resultMessage"></p>
    <div class="weatherDataContainer">
       
    </div>

{{>footer}}