<header>
    <nav>
        <h3><a href="/" class="logo">B</a></h3>
        <div class="links">
        <a href="/weather">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
        </div>
    </nav>
</header>
<body>
    <input type="hidden" value="{{getIsDayResultStored}}" class="isDayResult">
    <h1>{{pageTitle}}</h1>